:root {
  --primary-color: #a3aed0;
  --secondary-color: #663465;
  --accent-color: #b67096;
  --background-color: #555555;
  --text-color: #ebeef5;
  /* --border-test: 0.2rem solid yellow; */
  --border-primary: #fa66da 0%;
  --border-secondary: #6dd2e4 50%;
  --border-deg: 0deg;
  --background: linear-gradient(var(--border-deg), var(--border-primary), var(--border-secondary));
  --img-opacity: 0;
  --gif-opacity: 0;
  --text-opacity: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: JetBrains Mono, monospace;
  background-color: black;
  color: var(--text-color);
  overflow: hidden;
}

.img-container {
  position: relative;
  top: 25%;
  opacity: var(--img-opacity);
  transition: ease-in-out 0.3s;
}
.img-container img {
  position: absolute;
  z-index: 9;
}
.img-container img:nth-child(1) {
  left: 3rem;
  top: 10rem;
}
.img-container img:nth-child(2) {
  left: -10rem;
  top: -15rem;
}

.gif-container {
  position: relative;
  opacity: var(--gif-opacity);
  transition: ease-in-out 1s;
  top: -8%;
  left: -25%;
}
.gif-container img {
  position: absolute;
  z-index: 9;
  height: 15rem; 
  top: 50%;
}

.container {
  border: var(--border-test);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.msg-container {
  border: var(--border-test);
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--text-opacity);
  transition: ease-in-out 1s;
}
.opt-container {
  /* border: var(--border-test); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 25%;
  margin: 0 0.1rem;
}

.opt {
  color: var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  height: 80%;
  width: 50%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opt-box {
  background: var(--background);
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
.opt-box:after {
  content: '';
  position: absolute;
  top: -1rem;
  left: 1rem;
  right: 1rem;
  bottom: -1rem;
  background: var(--background);
  border-radius: .5rem;
  z-index: -1;
  filter: blur(2rem);
  transition: background 0.3s;
}
.opt-bg {
  background: black;
  border-radius: .1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
}
